div.taxiCar {
			width: 100px;
			height: 100px;
			position: relative;
			background-size: 100%;
			animation-name: example;
			animation-duration: 10s;
			#animation-timing-function: linear;
			animation-iteration-count: infinite;
			#animation-direction: alternate;
		}
div.taxiCar:hover {
    width: 150px;
	height:150px;
}
		/* Standard syntax */
		@keyframes example {
			0%   {left:95%; top:0px;}
			25%  {left:40%; top:0px;}
			45%  {left:5%; transform: scaleX(1);  top:0px;}
			47%  {left:5%; transform: scaleX(0);  top:0px;}
			55%  {left:5%; transform: scaleX(-1); top:0px;}
			75%  {left:50%; transform: scaleX(-1);  top:0px;}
			100% {left:95%; transform: scaleX(-1); top:0px;}
		}

div.sidebar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 15%;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
}

div.sidebar li a {
    display: block;
    color: #000;
    padding: 8px 0 8px 16px;
    text-decoration: none;
}

div.sidebar li a.active {
    background-color: #4CAF50;
    color: white;
}

div.sidebar li a:hover:not(.active) {
    background-color: #555;
    color: white;
}
